#item-page{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

#left, #right{
   min-height: 90vh;
}

#right{
    background-color: #ffffff;
    padding: 7rem 0;

}

img{
    overflow: hidden;
    object-fit: contain;
}